@font-face {
	font-family: uthp;
	src: url(./fonts/ut-hp-font.ttf);
}

@font-face {
	font-family: battlename;
	src: url(./fonts/battle-name.tff);
}

body { 
	--colora: #FFD4A350;
	--colorb: #0D2B45dd;

	--col1: #FFD4A3;
	--col2: #0D2B45;
	--col3: #D08159;
	--col4: #8D697A;

	--border: solid var(--col1) 2.5px;

	color: var(--col1);

	background-color: var(--col2);

	background-image: linear-gradient(to right, var(--colora) 1px, transparent 0.5px), linear-gradient(to bottom, var(--colora) 1px, transparent 0.5px);
	background-size: 80px 80px;
	background-attachment: fixed;
	animation: bodymove 1200s linear infinite;

	font-family: 'Courier New', Courier, monospace;

	scroll-behavior: smooth;
	image-rendering: pixelated;
}

a { color: var(--col3) }
a:visited { color: var(--col4) }

@keyframes bodymove {
  from {background-position: 0% 0%;}
  to {background-position: 200% -100%;}
}

.content {
	max-width: 800px;
	margin: auto;
	padding: 4em 0 0;
}

.break {
	margin: 4em auto 0;
	width: min-content;
}

.moon {
	position: fixed;
	top: 5vh;
	right: 5vw;
	z-index: -10;
}

/* system row */

.systemrow {
	display: flex;
	margin: 1em 0;
	justify-content: left;
	gap: 2em;
}

.systemrow a {
	text-align: center;
	font-weight: 600;
	color: var(--col1);
	text-decoration: none;

	text-shadow: 2px 2px 0 var(--col2);
	width: 4em;
}

.systemrow a:hover {
	text-decoration: underline;
}

.systemrow a:visited {
	color: var(--col1);
}

.systemrow a i::before {
	display: block;
	font-size: 1.5em;
	line-height: 1.1em;
	text-decoration: none;
}

/* home */

#home {
	margin-top: 10em;
}

h1 {
	font-family: battlename;
	font-size: 4em;
	margin-bottom: 0;
	font-weight: 400;
}

.window {
	background-color: var(--colorb);
	border: var(--border);
	margin-bottom: 1em;
}

.window .header {
	padding: 0 1em;
	border-bottom: var(--border);
	background-color: var(--col2);
	font-weight: 600;
}

.window .header::after {
	content: "| - | □ | X";
	float: right;
	font-weight: 400;
	/* padding-left: 1em;
	border-left: solid var(--col1); */
}

.notes {
	padding: 1em 0;
}

.notes p {
	margin: 0;
	padding: 0 1em 0 2em;
	position: relative;
}

.notes p::before {
	content: var(--lineNumber);
	display: block;
	position: absolute;
	left: 1em;
	color: var(--col3);
}

.notes p:hover {
	background: var(--col2)
}

/* webdev */

#webdev .window {
	padding: 0;
}

#webdev .header {
	margin: 0;
}

.ribbon {
	display: flex;
	font-weight: 600;
	border-bottom: var(--border);
	
	background-color: var(--col2);
}

.ribbon div {
	padding: 0 1em;
	margin-bottom: -2.5px;
}

.ribbon div:first-child {
	background: var(--col1);
	color: var(--col2);
}

.ribbon .active {
	border-right: var(--border);
	border-left: var(--border);
	border-bottom: solid var(--col2) 2.5px;
	background: var(--col2)
}

.ribboninfo {
	padding: 0.5em 1em;
	border-bottom: var(--border);
	
	background-color: var(--col2);
}

.filemenu {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.preview {
	width: 30%;

	padding: 1em;

	overflow-x: hidden;
}

.previewimg {
	padding: 1em;
	margin: auto;
	display: flex;
	align-items: center;
}

.previewimg img {
	width: calc(100% - 2em);
	margin: auto;
}

.files {
	width: 62%;

	display: flex;
	justify-content: left;
	align-content: flex-start;
	flex-wrap: wrap;
	gap: 1em 1.5em;

	padding: 1em;
	text-align: center;

	
	border-right: var(--border);
	height: 470px;
	overflow: auto;
}

.files .icon {
	width: 100px;
	cursor: pointer;
	font-size: small;
}

.files .icon:hover, .files .icon.active:hover {
	background: var(--col3);
	outline: solid var(--col1);
}

.files .icon.active {
	background: var(--col3);
	outline: solid var(--col4);
}

.files .icon .iconimg {
	width: 80px;
	height: 80px;
	margin: 0.5em auto 0;
	display: flex;
	align-items: center;

	pointer-events: none;
}

.files .icon img {
	max-width: 80px;
	max-height: 80px;
	margin: 0 auto 0.5em;
	display: block;
}

/* Art */

.viewer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	height: calc(400px + 2em)
}

.viewer img {
	max-width: 90%;
	max-height: 400px;
}

.artlist {
	display: flex;
	padding: 1em;
	gap: 1em;
	border-top: var(--border);
	overflow-x: auto;
}

.artlist img {
	max-height: 5em;
	cursor: pointer;
}

/* Parallax Stuff */

:root {
  --startpos0: 30;
  --paraimg0: url(/clouds/myclouds1.png);
  --startpos1: 50;
  --paraimg1: url(/clouds/myclouds2.png);
  --startpos2: 60;
  --paraimg2: url(/clouds/myclouds3.png);
}


:root {
	--maxscroll: 1200;
	--horizon: 70;
	--hscrollspeed: 0.5;
	--imgWidth: 1500;
	--finalCol: #D08159;
}

.parallaxDiv {
	--startpos: 20;
	--bgimg: var(--bgimg0);
	
	background-image: var(--bgimg), linear-gradient(180deg, transparent 300px, var(--finalCol) 300px);
	position: fixed;
  left: 0;
	top: calc((100 - var(--startpos)) * 1vh - (var(--scroll) / var(--maxscroll)) * (var(--horizon) - var(--startpos)) * 1vh);
	width: 100vw;
	height: 1000000px;
	
	background-repeat: repeat-x;
	
	animation: parascroll calc(var(--startpos) / var(--hscrollspeed) * 1s) linear infinite
}

@keyframes parascroll {to {background-position-x: calc(var(--imgWidth) * 1px);}}